@use "normalize.css";

body {
  background-color: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  z-index: 99;

  &__wrapping {
    width: 75%;
    margin: 0 auto;
    display: flex;

    &__img {
      width: 4rem;
      height: 4rem;
      border-radius: 700px;
    }

    &__spacer {
      flex: 1 1 auto;
    }

  }

  &__nav {
    &__item {
      display: inline-block;
      margin: 0.5em;
      padding: 1rem;
      color: white;
      text-decoration: none;
      border-radius: 0.2em;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: background-color 0.2s, box-shadow 0.3s, transform 0.2s;

      &:hover {
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
      }
    }

    i {
      margin-right: 1em;
    }
  }
}

.heading {
  height: 100vh;
  width: 100%;
  background: url("../img/heading.jpg") center no-repeat;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background-size: cover;
  position: relative;
}

.profile {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding: 2em;
  display: flex;
  &__title {
    color: white;
    margin: 0;
    font-size: 4em;
    font-weight: lighter;
  }

  &__image {
    height: 100%;
    width: auto;
    max-height: 300px;
    border-radius: 400px;
    box-shadow: 0 0 5px rgb(0,0,0,0.5);
  }

  &__details {
    flex: 1 1 auto;
    padding: 4em 2em;
  }

  &__role {
    font-size: 1.25em;
    color: #777;
    margin-top: 0.75em;
    margin-bottom: 1em;
  }

  &__link {
    margin-top: 1em;
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    border-radius: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.2s, box-shadow 0.3s, transform 0.2s;

    &:hover {
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
      transform: translateY(-2px);
    }
  }
}

@media all and (max-width: 1000px){

  .profile {
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 500px){

  .profile__image {
    width: 70%;
    height: auto;
    max-height: none;
  }
  .profile__title {
    font-weight: normal;
    font-size: 2em;
  }
  .header__nav__item {
    display: block;
  }
}
@media all and (max-width: 300px){


  .profile__title {
    font-weight: normal;
    font-size: 1.5em;
  }

}